In [1]:
import json

In [2]:
json_path = './data/concepts.json'
with open(json_path, 'r', encoding='utf-8') as j :
    concepts = json.load(j)

In [6]:
len(concepts)

1631

In [7]:
concepts[0]

{'id': 5814,
 'name': '1부터 5까지의 수',
 'semester': '초등-초1-1학기',
 'description': '1부터 5까지의 수를 읽고 셀 수 있다.',
 'chapter': {'id': '1', 'name': '9까지의 수 > 몇일까요 (1)'},
 'achievement': {'id': '1', 'name': '50까지의수 개념을이해 하고, 수를 세고 읽고 쓸 수 있다.'}}

In [32]:
concept = concepts[1000]
concept_id = concept['id']
concept_name = concept['name']
temp = concept['semester'].split('-')
school_level = temp[0]
grade_level = temp[1]
semester = temp[2]
description = concept['description']
chapter_id = int(concept['chapter']['id'])
chapter_name = concept['chapter']['name']
achievement_id = int(concept['achievement']['id'])
achievement_name = concept['achievement']['name']

In [33]:
description

'특정한 문자를 포함하지 않는 항'

In [38]:
text = f"INSERT INTO concepts values ({concept_id}, '{concept_name}', '{school_level}', '{grade_level}', '{semester}', '{description}' {chapter_id}, '{chapter_name}',  {achievement_id},  '{achievement_name}')"
text

"INSERT INTO concepts values (3943, '상수항', '고등', '수학', '상', '특정한 문자를 포함하지 않는 항' 539, '다항식 > 다항식의 연산 > 다항식의 덧셈과 뺄셈',  91,  '다항식의 사칙연산을 할 수 있다.')"

In [2]:
# 최종

json_path = './data/concepts_sorted.json'
with open(json_path, 'r', encoding='utf-8') as j :
    concepts = json.load(j)

file_path = "./data/insert_concepts.sql"

with open(file_path, "w", encoding='utf-8') as file:
    for concept in concepts :
        concept_id = concept['id']
        concept_name = concept['name']
        temp = concept['semester'].split('-')
        school_level = temp[0]
        grade_level = temp[1]
        semester = temp[2]
        description = concept['description']
        chapter_id = int(concept['chapter']['id'])
        chapter_name = concept['chapter']['name']
        try:
            achievement_id = int(concept['achievement']['id'])
        except KeyError:
            print(f"{concept_id}에는 achievement_id가 존재하지 않습니다.")
        achievement_name = concept['achievement']['name']
        sql = f"INSERT INTO concepts values ({concept_id}, '{concept_name}', '{school_level}', '{grade_level}', '{semester}', '{description}', {chapter_id}, '{chapter_name}', {achievement_id}, '{achievement_name}');"
        file.write(sql + "\n")

print("SQL 문장들 insert_concepts.sql 파일로 저장 성공")

SQL 문장들 insert_concepts.sql 파일로 저장 성공